.AppBar {
  width: 700px;
  margin: auto;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}

.NavLink {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: larger;
}

.active {
  color: brown;
}
